* {
  box-sizing: border-box;
}

body{
  text-align: center;
}

.container{
  display: inline-block;
  position: relative;
}

.sconto30{
  position: absolute;
  right: 0;
  top: 0;
  background-color: green;
}

.sconto5{
  position: absolute;
  right: 0;
  top: 0;
  background-color: red;
}

#cuore{
  color: red;
  position: absolute;
  bottom: 5px;
  right: 50%;
  font-size: 40px;
  display: none;
  }

div:hover #cuore{
  display: block;
}

.spazio{
  height: 20px;
}

.box_1{
  text-align: center;
  margin-bottom: 20px;
}
